# build --cxxopt="-Wall"
# build --cxxopt="-pedantic"
# build --cxxopt="-Werror"
# build --cxxopt="-std=c++20"
build -c dbg
# build --cxxopt="-fsanitize=address"
# build --cxxopt="-lasan"
# build --cxxopt="-fsanitize=undefined"
build --cxxopt="-march=native" 
